.tableexer2{
    border: solid 1px black;
    margin-left: 30%;
    margin-right: 30%;
}

.tableexer2 p{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 11px;
    line-height: 2.0;  
    color: rgb(3, 3, 129);  
}